<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.posedetectionapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".usecase.main.MainActivity"
            android:label="@string/title_activity_main" />

        <activity android:name=".usecase.player.VideoPlayerActivity" />
        <activity android:name=".posenet.CameraActivity" />
        <activity android:name=".usecase.welcome.WelcomeActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />


                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".usecase.register.RegisterActivity" />
        <activity android:name=".usecase.login.LoginActivity" />

        <service
            android:name=".utils.hbLib.ScreenRecordService"
            android:foregroundServiceType="mediaProjection"
            tools:targetApi="q" />

        <receiver android:name=".utils.hbLib.NotificationReceiver" />
    </application>

</manifest>